#Paths que se van a ignorar:

modulos_de_control/__pycache__/*

!modulos_de_control/Modulos/Datos/Plantillas/*

modulos_de_control/Modulos/Datos/*

modulos_de_control/Modulos/__pycache__/*

Proyecto Email/*

Sobre el proyecto/*